body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f0f0f0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
}

.project-card {
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 80%; /* Adjust width as needed */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

main a {
    color: #0077b5; /* LinkedIn blue, you can choose another color */
    text-decoration: none; /* Removes underline from links */
}

main a:hover {
    text-decoration: underline; /* Adds underline on hover for better interaction feedback */
}

.fa {
    margin-right: 8px; /* Adds some space between the icon and the text */
}
